/* Media Queries */
$width-small: 480px; /* Tablet */
$width-medium: 1024px; /* Laptop */
$width-large: 1280px; /* Desktop */


/* Colors */
$blue:  #0193D7;
$black: #0e0e0e;
$black-transparent: rgba(0,0,0,0.9);
$grey:  #eeeeee;
$darkgrey:  #6e6e6e;
$white: #ffffff;
$gold: #DCCC96;


/* Fonts */
$Heading:   'proxima_nova_rgbold', Arial, sans-serif;
$Heading-regular: 'proxima_nova_rregular', Arial, sans-serif;
$Tagline:  'Libre Baskerville', serif;
